@import "_variables";

body {
  font-family: $serif-fonts;
  font-size: $font-base-size;
  background-color: $background-color;
}

h1 {
  font-size: $font-base-size * 2.25;
  color: $third-color;
}

h2 {
  font-size: $font-base-size * 2;
}

h3 {
  font-size: $font-base-size * 1.75;
}

h4 {
  font-size: $font-base-size * 1.5;
  color: $third-color;
}

h5 {
  font-size: $font-base-size * 1.25;
}

h6 {
  font-size: $font-base-size * 1.1;
}

button {
  color: $primary-color;
  border-color: $primary-color;
  background-color: lighten($primary-color, 50%);
}

nav {
  background-color: $third-color;
  ol {
    list-style: none;
    a {
      font-weight: bold;
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.row {
  .column {
    background-color: #c6ecae;
  }
}

img, input, textarea {
  border-radius: $font-base-size * .15;
  border-color: $secondary-color;
}

figcaption {
  background-color: $secondary-color;
}

a {
  text-decoration:none;
  font-size: $font-base-size * 1.2;
}

table {
  background-color: $secondary-color;
  
  tr {
    font-weight: bold;
    font-size: $font-base-size * 2;
  }
  td {
    font-size: $font-base-size * 1.5;
  }
}
